main {
    background-color: var(--gray1);
    margin-top: 92px;
    margin-bottom: 92px;
    padding-left: 18px;
    padding-top: 21px;
    padding-bottom: 16px;
   
}

main section > h3 {
    color: var(--gray3);
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 17px;
}

main section {
    margin-bottom: 12px;
}

.dish {
    overflow: hidden;
}

.products {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 15px;
}


.product {
    width: 172px;
    height: 216px;
    padding: 18px 14px 14px 14px;
    background-color: var(--white1);
    border-radius: 9px;
    margin-right: 16px;  
    border-radius: 9px;
    cursor: pointer;
}

.product .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content > img {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}

.content > h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray3);
}

.content > p {
    width: 147px;
    font-weight: 300;
    padding: 12px 0;
    font-size: 15px;
    line-height: 18px;
    color: var(--gray2);
}

.content .footer {
    display: flex;
    justify-content: space-between;
}

.content  .footer > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}

.cardChecked {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F; 
}

.iconChecked {
    display: none;
}

